{% extends 'main/homepage.html' %}
{% load static %}
{% load bootstrap4 %}

    {% block title %}
        Все варианты отдыха
    {% endblock title %}

{% block cards %}
<div class="container">
    <h1 class="my-3">Доступные варианты</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{% static 'img/four_img.jpg' %}" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Отдых с медведями</h4>
                    <p class="card-text">Пожалуй, один из самых экстремальных видов отдыха. К сожалению нет отзывов.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                        </div>
                        <small class="text-muted">22.10.2020</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{% static 'img/five_img.jpg' %}" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Дикие кошки</h4>
                    <p class="card-text">Посещение зимнего леса и кормление диких кошек.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                        </div>
                        <small class="text-muted">21.10.2020</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{% static 'img/first_img.jpg' %}" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Острова</h4>
                    <p class="card-text">Отдых на островах вдали от цивилизации.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                        </div>
                        <small class="text-muted">20.10.2020</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{% static 'img/six_img.jpg' %}" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Прогулка на лыжах</h4>
                    <p class="card-text">Катание на беговых лыжах через городской парк. Работает прокат.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                        </div>
                        <small class="text-muted">19.10.2020</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{% static 'img/second_img.jpg' %}" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Пешком в гору</h4>
                    <p class="card-text">Для любителей экстримальных видов отдыха. Пешее восхождение не требует специальной подготовки.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                        </div>
                        <small class="text-muted">18.10.2020</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{% static 'img/third_img.jpg' %}" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Отдых на пляже</h4>
                    <p class="card-text">Для любителей активного отдыха. Клубы, бары, рестораны.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                        </div>
                        <small class="text-muted">17.10.2020</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav aria-label="Paginate me">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Предыдущая</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Следующая</a>
        </li>
    </ul>
</nav>
<br>
{% endblock cards %}